
 @define-color background #0f1417;

 @define-color error #ffb4ab;

 @define-color error_container #93000a;

 @define-color inverse_on_surface #2c3134;

 @define-color inverse_primary #166683;

 @define-color inverse_surface #dfe3e7;

 @define-color on_background #dfe3e7;

 @define-color on_error #690005;

 @define-color on_error_container #ffdad6;

 @define-color on_primary #003547;

 @define-color on_primary_container #c0e8ff;

 @define-color on_primary_fixed #001e2b;

 @define-color on_primary_fixed_variant #004d66;

 @define-color on_secondary #1f333d;

 @define-color on_secondary_container #d0e6f3;

 @define-color on_secondary_fixed #091e27;

 @define-color on_secondary_fixed_variant #364954;

 @define-color on_surface #dfe3e7;

 @define-color on_surface_variant #c0c7cd;

 @define-color on_tertiary #302c4c;

 @define-color on_tertiary_container #e4dfff;

 @define-color on_tertiary_fixed #1b1736;

 @define-color on_tertiary_fixed_variant #464364;

 @define-color outline #8a9297;

 @define-color outline_variant #40484c;

 @define-color primary #8dcff1;

 @define-color primary_container #004d66;

 @define-color primary_fixed #c0e8ff;

 @define-color primary_fixed_dim #8dcff1;

 @define-color scrim #000000;

 @define-color secondary #b4cad6;

 @define-color secondary_container #364954;

 @define-color secondary_fixed #d0e6f3;

 @define-color secondary_fixed_dim #b4cad6;

 @define-color shadow #000000;

 @define-color source_color #9ac0d5;

 @define-color surface #0f1417;

 @define-color surface_bright #353a3d;

 @define-color surface_container #1b2023;

 @define-color surface_container_high #262b2e;

 @define-color surface_container_highest #303539;

 @define-color surface_container_low #171c1f;

 @define-color surface_container_lowest #0a0f12;

 @define-color surface_dim #0f1417;

 @define-color surface_tint #8dcff1;

 @define-color surface_variant #40484c;

 @define-color tertiary #c8c2ea;

 @define-color tertiary_container #464364;

 @define-color tertiary_fixed #e4dfff;

 @define-color tertiary_fixed_dim #c8c2ea;

